project_prefix  = "n12005371"
region          = "ap-southeast-2"
owner_email     = "n12005371@qut.edu.au"
api_base_url    = "https://n12005371.cab432.com"
subdomain       = "n12005371"
ec2_public_ip   = "3.106.244.57"

# External API endpoints (override defaults if required)
yt_api_base     = "https://www.googleapis.com/youtube/v3"
tmdb_api_base   = "https://api.themoviedb.org/3"
pixabay_api_base = "https://pixabay.com/api"

youtube_api_key = "PASTE_YOUR_KEY"
tmdb_api_key    = "PASTE_YOUR_KEY"
tmdb_v4_token   = ""
pixabay_api_key = "PASTE_YOUR_KEY"

db_credentials = {
  username = "video_user"
  password = "change-me"
  host     = "db-instance.ap-southeast-2.rds.amazonaws.com"
  port     = 5432
  engine   = "postgres"
  dbname   = "videoapp"
}

app_callback_urls = ["https://n12005371.cab432.com/public/"]
app_logout_urls   = ["https://n12005371.cab432.com/public/"]
